<% layout("../layouts/boilerplate") %>
<head>
    <link rel="stylesheet" href="/css/first.css"> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"><!-- Custom CSS -->
</head>
<body>
    <form method="post" action="/list/new" novalidate class="needs-validation" enctype="multipart/form-data">
        <h1>Create Listing</h1>

        <div class="form-group">
            <label for="title">Title</label>
            <textarea id="title" name="listing[title]" class="form-control" placeholder="Enter title" required></textarea>
            <div class="invalid-feedback">
                Please choose a Title.
              </div>
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <textarea id="description" name="listing[description]" placeholder="Enter description" class="form-control"  required></textarea>
            <div class="invalid-feedback">
                Please choose a Description.
              </div>
        </div>
        <div class="form-group">
            <label for="description">Category</label>
            <select name="listing[category]" id="category" required>
                <option value="">Select a category</option>  <!-- Prevents empty submission -->
                <option value="Amazing pools">Amazing pools</option>
                <option value="Rooms">Rooms</option>
                <option value="Mountains">Mountains</option>
                <option value="Farm">Farm</option>
                <option value="Camping">Camping</option>
                <option value="Domes">Domes</option>
                <option value="Boats">Boats</option>
                <option value="Artic">Artic</option>
            </select>
            
            <div class="invalid-feedback">
                Please choose a category.
              </div>
        </div>

        <div class="form-group">
            <label for="price">Price</label>
            <textarea id="price" name="listing[price]" placeholder="Enter price" class="form-control"  required></textarea>
            <div class="invalid-feedback">
                Please choose a price
              </div>
        </div>

        <div class="location-country">
            <div class="form-group">
                <label for="location">Location</label>
                <textarea id="location" name="listing[location]" placeholder="Enter location" class="form-control"  required></textarea>
                <div class="invalid-feedback">
                    Please choose a Location.
                  </div>
            </div>

            <div class="form-group">
                <label for="country">Country</label>
                <textarea id="country" name="listing[country]" placeholder="Enter country" class="form-control"  required></textarea>
                <div class="invalid-feedback">
                    Please choose a Country.
                  </div>
            </div>
        </div>
        <div class="form-group">
            <label for="image-url">Image </label>
            <input id="image-url" name="listing[image]" type="file" placeholder="Enter image URL" required>
            <div class="invalid-feedback">
                Please choose a image.
              </div>
        </div>

        <button type="submit">Submit</button>
    </form>
 

</body>
